# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*_BuiltData.uasset
*.exe
*.dll
*.lib
*.pdb
*.ipch
*.obj
*.o
*.pch
*.gch

Plugins/**/Binaries/
Plugins/**/Intermediate/

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Visual Studio
.vs/
.vsconfig
*.user
*.userosscache
*.sln.docstates
*.VC.opendb
ipch/
*.psess
*.vsp
*.vspx
*.sap
*.ncb
*.aps
*.cachefile
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
*.code-workspace
*.VC.db-shm
*.VC.db-wal

# Rider / VS Code
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store
